node_modules

# Output
.output
.vercel
.netlify
.wrangler
.svelte-kit/
build/

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Nix
flake.lock

# Claude code
CLAUDE.md

# svelte data
.svelte-kit/

# Supabase
supabase/.temp/

# Phaser Svelte template
template-svelte/
